* {
  box-sizing: border-box;
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;

  transition: 0.3s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.code {
  background-color: #99a9b9;
  white-space: pre-line;

  margin: 0;
  padding: 0;

  font: 12px monospace;
  text-align: left;
}
.language{
  text-transform: uppercase;
}